@font-face {
  font-family: Poppins;
  src: url('./fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Regular.ttf');
}

:root {
  --primary-clr: hsl(257, 40%, 49%);
  --active: hsl(300, 69%, 71%);
  --font-header: 'Poppins';
  --font-body: 'Open Sans';
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--primary-clr);
  font-family: var(--font-body);
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  max-width: 1920px;
  margin-inline:  auto;
  background-image: url('images/bg-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

footer {
  margin-top:  auto;
  position: relative;
  overflow: hidden;
  filter: drop-shadow(0 8px 8px #0004);
}

.wrapper {
  flex: 1;
}

.attribution {
  font-size: 11px;
  text-align: center;
  translate: 0 100%;
  transition: all 0.2s ease-in-out;
  background: var(--primary-clr);
  padding: 8px;
  font-weight: bold;
  color: white;
  font-family: var(--font-header);
  text-transform: uppercase;
  font-size: 16px;
}

footer:hover > .attribution {
  translate: 0 0;
}

.attribution a {
  color: #0080f0;
}