@font-face {
  font-family: Poppins;
  src: url('./fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Regular.ttf');
}

:root {
  --primary-clr: hsl(257, 40%, 49%);
  --active: hsl(300, 69%, 71%);
  --socials-clr: white;
  --font-header: 'Poppins';
  --font-body: 'Open Sans';
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--primary-clr);
  font-family: var(--font-body);
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  max-width: 1920px;
  margin-inline:  auto;
  background-image: url('images/bg-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-inline: 32px;
  margin-block: 16px;
}

.content {
  max-width: 1440px;
  margin-inline: auto;
  margin-top: 32px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content > img {
  margin-inline: 32px;
  max-height: 100%;
  margin-right: auto;
}

article {
  display: grid;
  margin-inline: 32px;
  grid-auto-rows: 1fr;
  grid-template-areas:
      "i i i c";
  column-gap: 48px;
  flex: 1;
  margin-block: 48px;
}

article > .content-img-ctn {
  grid-area: i;
}

article > .content-details-ctn {
  grid-area: c;
  margin-block: auto;
}

.socials-ctn {
  margin-top: auto;
  margin-inline: auto;
  display: flex;
  max-width: 1440px;
  width: 100%;
  justify-content: right;
}

.socials {
  display: flex;
  margin-inline: 32px;
  gap: 16px;
}

.socials > a {
  border: 1px var(--socials-clr) solid;
  height: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--socials-clr);
  transition: all 0.2s ease-in-out;
}

.socials > a:hover {
  border-color: var(--active);
  color: var(--active);
  transform: scale(1.1);
}

.socials > a > i {
  font-size: 20px;
}

footer {
  margin-top:  auto;
  position: relative;
  overflow: hidden;
  filter: drop-shadow(0 8px 8px #0004);
}

.attribution {
  font-size: 11px;
  text-align: center;
  transform: translate(0, 100%);
  transition: all 0.2s ease-in-out;
  background: var(--primary-clr);
  padding: 8px;
  font-weight: bold;
  color: white;
  font-family: var(--font-header);
  text-transform: uppercase;
  font-size: 12px;
}

footer:hover > .attribution {
  transform: translate(0, 0);
}

.attribution a {
  color: #0080f0;
}

@media (min-width: 768px) and (min-height: 768px) {
  
}