*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  max-width: 1920px;
  margin-inline:  auto;
}

footer {
  margin-top:  auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}